body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #060aee 0%, #fd0138 100%); /* w3c */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  text-align: center;
}

.center {
  display: flex;
}
button {
  cursor: pointer;
}
.Particals{
  position: fixed;
  z-index: -1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}