body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #060aee 0%, #fd0138 100%); /* w3c */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  text-align: center;
}

.center {
  display: flex;
}
button{
  cursor: pointer;
}